.servicios {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  color: #ffffff;
  flex-wrap: wrap;          /* permite que se vayan a la siguiente línea */
  justify-content: flex-start;
}

.servicios h2 {
  color: #00bcd4;
  margin-bottom: 10px;
}

.servicios p {
  font-size: 18px;
  line-height: 1.6;
}


.servicio-box {
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 12px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
    flex-wrap: wrap;          /* permite que se vayan a la siguiente línea */
  justify-content: flex-start;
}


.servicio-box img {
  width: 100%;
  border-radius: 10px;
  
}
